
        <!--Main Navigation-->
            <header>              

                <!--Mask-->
        <div id="intro" class="view">

            <div class="mask rgba-black-strong">

                <div class="container-fluid d-flex align-items-center justify-content-center h-100">

                    <div class="row d-flex justify-content-center text-center">

                        <div class="col-md-10">

                            <!-- Heading -->
                            <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">La Bonne Auberge</h2>

                            <!-- Divider -->
                            <hr class="hr-light">

                            <!-- Description -->
                            <h4 class="white-text my-4">Donnez de la vie à nos villages</h4>
                            <%= link_to "Inscrivez-vous", new_user_registration_path, class: "btn btn-success"%>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!--/.Mask-->

            </header>
            <!--Main Navigation-->

            <!--Main layout-->
            <main class="mt-5">
                <div class="container">

                    <!--Section: Best Features-->
                    <section id="best-features" class="text-center">

                        <!-- Heading -->
                        <h2 class="mb-5 font-weight-bold">Et si on changeait ? Si, demain, on quittait la métropole pour habiter dans un village, un bourg, une petite ville ? Et si, on faisait revivre nos villages ?</h2>

  <hr class="my-5">
<!--Section: Last events-->

            <section id="events" class="text-center">

                <!-- Heading -->
                <h2 class="mb-5 font-weight-bold">Les derniers evenements</h2>

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4">

                        <div class="view overlay z-depth-1-half">
                            <img src="https://images.unsplash.com/photo-1583275243708-74ae6d38a8ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="img-fluid" alt="">
                            
                        </div>

                        <h4 class="my-4 font-weight-bold">Event</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                            maiores nam,
                            aperiam minima
                            assumenda deleniti hic.</p>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4">

                        <div class="view overlay z-depth-1-half">
                            <img src="https://images.unsplash.com/photo-1541796408240-af1f35c2af6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="img-fluid" alt="">
                        </div>

                        <h4 class="my-4 font-weight-bold">Event</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                            maiores nam,
                            aperiam minima
                            assumenda deleniti hic.</p>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4">

                        <div class="view overlay z-depth-1-half">
                            <img src="https://images.unsplash.com/photo-1584109035548-ae9606fa5322?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="img-fluid" alt="">
                            
                        </div>

                        <h4 class="my-4 font-weight-bold">Event</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                            maiores nam,
                            aperiam minima
                            assumenda deleniti hic.</p>

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->
                  <hr class="my-5">

            </section>
            <!--Section: last events-->
            <div class="row">
                <div class="col-md-6">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="https://images.unsplash.com/photo-1550946977-7b22410c82b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1398&q=80" alt="">
                </a>
                </div>
                <div class="par col-md-4">
                <p>La bonne auberge est une plateforme dynamique, pour les habitants et les nouveaux arrivants des villages du département du Cantal : apportons du dynamisme à la région !</p>
                </div>
                <div class="par col-md-2">
                <%= link_to "Rejoignez-nous", new_user_registration_path, class: "btn btn-success"%>
                </div>
            </div>
          <hr class="my-5">
        <div class="container">
            <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-4 mb-5">
                        <i class="fa fa-camera-retro fa-4x orange-text"></i>
                        <h4 class="my-4 font-weight-bold">Expérience</h4>
                        <p class="grey-text"> Proposez ou participez à des activités et des évènements dans votre région</p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-4 mb-1">
                        <i class="fa fa-heart fa-4x orange-text"></i>
                        <h4 class="my-4 font-weight-bold">opportunités</h4>
                        <p class="grey-text">Echangez sur la vie au village et les opportunités à saisir : acquisition d'un logement, création ou reprise de commerce...</p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-4 mb-1">
                        <i class="fas fa-hands-helping fa-4x orange-text"></i>
                        <h4 class="my-4 font-weight-bold">Entraide</h4>
                        <p class="grey-text">Entre voisins ou villageois, proposez ou discuter, proposez des services pour faire vivre la communauté. </p>
                    </div>
                    <!--Grid column-->

                </div>
        </div>
                  <hr class="my-5">
                        <!--Grid row-->
        <div class="block-don"> 
		    <h2 class="hidden-xs"><span class="glyphicon glyphicon-heart"></span> Soutenir Nos amis du patrimoine de Haute Auvergne</h2>
			<a href="https://www.patrimoine-cantal.com/" class="btn-don"> <strong>Faites un Don</strong></a>
		</div>

    
             
