<div class="container">
    <div class="row">
          <div class="col-md-6 offset-md-3">  
              <br><br><br>

               <%= form_for @comment, url: event_comment_path(@event), method: :patch do |f| %>
                   <h1>Modifiez votre commentaire : </h1>
                   
                  <div class="form-group">
                      <%= f.label 'Renseignez vos modifications :'%>
                      <%= f.text_area :content, autofocus: true, autocomplete: "title", class: "form-control"%>
                  </div>

                  <div class="actions mt-5">       
                  <%= f.submit("Valider les modifications", class: "btn btn-lg btn-success btn-block") %>
                  </div> 
                  <% end %>
          </div>
    </div>
</div>
