<div class=center-form>
    <div class="container mt-5">
        <div class="t-center">
            <h2 class="mb-5 font-weight-bold text-center">
                La Bonne Auberge est un une plateforme dédié aux initiatives à impact positif des collectivités publiques du département du Cantal. <br>
                Elle a été créée dans le but de mettre en lumière les projets développés par les élus et toutes les personnes issues du monde des collectivités publiques.</h2>
                <h4 class="mb-5 text-center">
                Vous êtes une mairie du Cantal et souhaitez communiquer avec vos habitants ? </h4>

                <%= form_with url: manage_registration_town_halls_path, method: :post, local:true do |f| %>
                    <div class="container col-lg-6 mt-5 text-center">
                    <p>Renseignez un code communal / code Insee :</p>
                    <%= f.text_field :zipcode, placeholder:"ex : 15212", class:"form-control form__input"  %>

                    <%= f.submit :Validez, class: "btn btn-success btn-block btn-login text-uppercase font-weight-bold mt-2" %>
                    <% end %>
                    </div>
            </div>
        </div>
        
</div>

