<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>La Bonne Auberge - Evènements</title>


</head>
<body>
  
  <main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" style="background-image: url(<%= 'https://i.pinimg.com/originals/32/8a/bb/328abb69ab5b18eadab2d2184a6329fe.png' %>)">
    <div class="container">
      <h1 class="display-3">Fête au village</h1>
      <p>Que l'immersion commence!</p>
      <% if town_hall_signed_in? %>
        <p><%= button_to "Créer un évènement", new_event_path, class:"btn btn-success", :method => :get %></p>
      <% end %>
    </div>
  </div>

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Voici les évènements disponibles :</h1>
    <p class="lead">Choisi ton Event</p>
  </div>

  <div class="container">
    <div class="row">
      <!-- Card -->
      <% @events.each_with_index do |event, i| %>
        <%= render 'shared/card_event', event: event %> 
      <% end %>
      <!-- Card -->
    </div>
  </div>
  



</body>
</html>

