<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-4-sm">
            <%= button_to "mettre à jour l'annuaire des mairies", villages_path, method: :post, class:"btn btn-primary"%>

            <% if @town_hall_names %>
                <% @town_hall_names.each do |town| %>
                    <%= town %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>