.alert {
    margin-top: 50px;
}

.link_to {
  color: #41b972!important;
}

.link_to:hover {
  color: #68d522!important;
  text-decoration: none!important;
}

.footer {
    margin-top: 150px;
}

.bg-signup {
    background-image: url('https://images.unsplash.com/photo-1583274834778-656b2dc4696a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-position: center;
  }

  .bg-signin {
    background-image: url('https://p8.storage.canalblog.com/82/26/84917/13415811.jpg');
    background-size: cover;
    background-position: center;
  }
  .bg-forgot-user {
    background-image: url('https://images.unsplash.com/photo-1490113355845-cdc3b65f0189?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
  }


  .bg-signup-townhall {
    background-image: url('https://cdn.pixabay.com/photo/2018/10/13/10/49/estonia-3744005_960_720.jpg');
    background-size: cover;
    background-position: center;
  }

  .bg-signin-townhall {
    background-image: url('https://cdn.pixabay.com/photo/2017/08/26/16/14/town-hall-2683493_960_720.jpg');
    background-size: cover;
    background-position: center;
  }

  .bg-forgot-townhall {
    background-image: url('https://cdn.pixabay.com/photo/2016/07/16/13/34/roussillon-1521763_960_720.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .center-form {
    margin-top: 200px;
    
}

.cart-event {

  background-color: rgba(114, 107, 107, 0.377) !important;
}

.fa-heart:hover {
  color: #f44336 !important;
}
.fa-share-alt:hover {
  color: #0d47a1 !important;
}

hr {
  background-color: rgb(255, 255, 255) !important;
}

h2.display-4.font-weight-bold.white-text.pt-5.mb-2 {

  padding-top: 15rem !important;
  letter-spacing: .3rem;
}