<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @resource.email %> !</h1>
    <p>Pour changer ton mot de passe, clique sur le lien ci-dessous</p>
    <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
    <p>Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer cet email</p>
    <p>  Pour accéder à ton espace client, connecte-toi via : <%= @url %>.</p>
    <p> À très vite sur LaBonneAuberge.fr !
  </body>
</html>